:root {
  --text-color: rgba(255, 255, 255, 0.7);
  --header-color: rgb(102, 147, 244);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(11, 3, 57, 0.9);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 40px 80px 0 80px;
  /* border: 2px solid red; */
}

.container__heading {
  text-align: center;
  color: var(--header-color);
  margin: 20px 0;
}

.container__text {
  text-align: justify;
  text-justify: inter-word;
  color: var(--text-color);
  font-size: clamp(0.7rem, 1vw, 1.2rem);
}

.container__highlight {
  color: red;
}

.button-container__compare--styled {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 5px;
  cursor: pointer;
  font-size: clamp(0.7rem, 1.1vw, 1rem);
}

.chart-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-container__compare {
  display: block;
  margin: 30px auto 0;
}

.y-axis,
.x-axis {
  color: white;
  font-size: 0.7rem;
}

.label {
  font-size: 0.8rem;
  fill: yellow;
}

@media (max-width: 38em) {
  .button-container__compare {
    margin-top: -28px;
  }
}

@media (hover: hover) {
  .button-container__compare--styled:hover {
    color: red;
    box-shadow: 0 0 6px 3px rgba(107, 107, 107, 0.4);
  }
}
